<h1>Password Generator</h1>

<div>
<label>Enter Length</label>
<input type="number"/>
</div>


<div>
  <label>Use Letters</label>
  <input type="checkbox"/>
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox"/>
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox"/>
</div>

<div>
<button (click)="onButtonClick()"> Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="getPassword()"/>
<!--  same output would be: <input [value]="password"/> -->
<!--  it snot necessary to provide mor infos as the property name itself is enough for angular to catch it-->
</div>


